body{
   background-color: rgb(0, 96, 141);
   color: rgb(232, 239, 245);
   font-family: "Baskervville SC", system-ui;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 700px;
   margin: 0;
}

button{
    background-color: darkblue;
    color:aliceblue;
    font-family: "Baskervville SC", system-ui;

}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}
















